<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Escuela Tecnica N°5</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="menu-bar">
        <ul class="paginas">
             <li><a href="{{ url_for('home') }}" class="pestana">Home</a></li>
            <li><a href="{{ url_for('orientaciones') }}" class="pestana">Orientaciones</a></li>
            <li><a href="{{ url_for('historia') }}" class="pestana">Historia</a></li>
            <li><a href="{{ url_for('inscripcion') }}" class="pestana">Inscripcion</a></li>
            
        </ul>
    </div>

    <div class="hero-container">
       <h1 class="titulo-hero">Escuela Tecnica N°5</h1>
       <p class="texto-hero"></p>
    </div>

    <div class="pagina-historia">
        <h3 class="titulo-blog">Nuestro comienzo...</h3>
        <p class="texto-blog">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Esse tenetur eligendi assumenda reprehenderit magni, accusamus cum incidunt natus aperiam vel illum dolores porro? Illum animi maiores rem tenetur facilis expedita. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a quidem aut, 
            explicabo aperiam ullam eaque et blanditiis nemo iure dolorum quisquam ex quos totam tenetur corporis magnam natus quia.</p>
        <p class="texto-blog">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Esse tenetur eligendi assumenda reprehenderit magni, accusamus cum incidunt natus aperiam vel illum dolores porro? Illum animi maiores rem tenetur facilis expedita. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a quidem aut, 
            explicabo aperiam ullam eaque et blanditiis nemo iure dolorum quisquam ex quos totam tenetur corporis magnam natus quia.</p>
        </div>


            <!-- Footer -->
     <footer>
       <p class="texto-footer-1">© 2026. Todos los derechos reservados.</p> 
       <p class="texto-footer-2">Desarrollado por CURSO PROGRAMACION 2026</p> 
     </footer>

</body>
</html>