<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Escuela Tecnica N°5</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="menu-bar">
        <ul class="paginas">
             <li><a href="{{ url_for('home') }}" class="pestana">Home</a></li>
            <li><a href="{{ url_for('orientaciones') }}" class="pestana">Orientaciones</a></li>
            <li><a href="{{ url_for('historia') }}" class="pestana">Historia</a></li>
            <li><a href="{{ url_for('inscripcion') }}" class="pestana">Inscripcion</a></li>
            
        </ul>
    </div>

    <div class="hero-container">
       <h1 class="titulo-hero">Escuela Tecnica N°5</h1>
       <p class="texto-hero"></p>
    </div>


    <div class="bloque">
        <h3 class="titulo">Informatica</h3>
        <div class="informacion">
            <ul class="item-info">
                <li class="item" id="">Titulo secundario: Tecnico en informatica profesional y personal</li>
                <li class="item" id="">Descripcion de carrera: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ut quo, facilis porro fuga obcaecati atque omnis! Esse dolores nisi nihil recusandae deserunt sit! Officia maiores minus ut est autem.</li>
            </ul>
        </div>
    </div>


        <div class="bloque">
        <h3 class="titulo">Construccion</h3>
        <div class="informacion">
            <ul class="item-info">
                <li class="item" id="">Titulo secundario: Maestro mayor de obra</li>
                <li class="item" id="">Descripcion de carrera: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ut quo, facilis porro fuga obcaecati atque omnis! Esse dolores nisi nihil recusandae deserunt sit! Officia maiores minus ut est autem.</li>
            </ul>
        </div>
    </div>

        <div class="bloque">
        <h3 class="titulo">Electromecanica</h3>
        <div class="informacion">
            <ul class="item-info">
                <li class="item" id="">Titulo secundario: Tecnico en equipos e instalaciones electromecanicas</li>
                <li class="item" id="">Descripcion de carrera: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ut quo, facilis porro fuga obcaecati atque omnis! Esse dolores nisi nihil recusandae deserunt sit! Officia maiores minus ut est autem.</li>
            </ul>
        </div>
    </div>

            <div class="bloque">
        <h3 class="titulo">Formacion Profesional</h3>
        <div class="informacion">
            <ul class="item-info">
                <li class="item" id="">Cursos Varios (Turno Noche)</li>
                <li class="item" id="">Descripcion de carrera: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ut quo, facilis porro fuga obcaecati atque omnis! Esse dolores nisi nihil recusandae deserunt sit! Officia maiores minus ut est autem.</li>
            </ul>
        </div>
    </div>



        <!-- Footer -->
     <footer>
       <p class="texto-footer-1">© 2026. Todos los derechos reservados.</p> 
       <p class="texto-footer-2">Desarrollado por CURSO PROGRAMACION 2026</p> 
     </footer>

</body>